Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

Fix CI fmt issues
  .changeset/tasty-tires-rest.md
  tests/block-repo/src/simple.test.ts
  tests/block-repo/src/test_utils.ts
  tests/helper/src/events-sequence.test.ts
  tests/helper/src/is-json-equal.test.ts
  tests/helper/src/throttle-sequence.test.ts
Due: Backend, Desktop

fix: test
  sdk/model/src/render/api.ts
  sdk/model/src/render/util/pcolumn_data.ts
Due: Desktop

correct method name
  lib/node/pf-driver/src/ptable_pool.ts
Due: Desktop

ref: remove unused methods
  sdk/model/src/render/internal.ts
Due: Desktop

skip test
  lib/node/pf-driver/src/driver_double.test.ts
Due: Desktop

fix: shim fetch
  lib/node/pf-driver/vitest.config.mts
  lib/node/pf-driver/vitest.setup.mts
Due: Desktop

Fix CI fmt issues (#1422)
  .changeset/tasty-tires-rest.md
  tests/block-repo/src/simple.test.ts
  tests/block-repo/src/test_utils.ts
  tests/helper/src/events-sequence.test.ts
  tests/helper/src/is-json-equal.test.ts
  tests/helper/src/throttle-sequence.test.ts
Due: Backend, Desktop

disable wasm imp
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pf-driver/vitest.config.mts
  lib/node/pf-driver/vitest.setup.mts
Due: Desktop

fix: correct path to default oxlint file, correct init oxlint file
  tools/ts-builder/src/commands/configs/init-configs.ts
  tools/ts-builder/src/commands/configs/init-lint-config.ts
  tools/ts-builder/src/commands/formatter.ts
  tools/ts-builder/src/commands/utils/config-manager.ts
Due: Backend

chore: changeset
  .changeset/violet-owls-stay.md
Due: none

MILAB-5434: pf-driver createTableV2 (#1417)
  .changeset/short-clocks-share.md
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
  lib/node/pf-driver/package.json
  lib/node/pf-driver/src/driver_decl.ts
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_double.ts
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pf-driver/src/ptable_def_pool.ts
  lib/node/pf-driver/src/ptable_pool.ts
  lib/node/pf-driver/src/ptable_shared.ts
  lib/node/pl-middle-layer/src/js_render/computable_context.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/package.json
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/render/api.ts
  sdk/model/src/render/index.ts
  sdk/model/src/render/internal.ts
  sdk/model/src/render/util/column_collection.ts
  sdk/model/src/render/util/pcolumn_data.ts
Due: Desktop

Fix: correct path to default oxlint file, correct init oxlint file (#1423)
  .changeset/violet-owls-stay.md
  tools/ts-builder/src/commands/configs/init-configs.ts
  tools/ts-builder/src/commands/configs/init-lint-config.ts
  tools/ts-builder/src/commands/formatter.ts
  tools/ts-builder/src/commands/utils/config-manager.ts
Due: Backend

fix: don't ruin cache with global flag
  lib/ptabler/software/package.json
  lib/ptexter/package.json
  package.json
  turbo.json
Due: Backend

modernize ci
  .github/workflows/build.yaml
  .github/workflows/test-k8s-nightly.yaml
  etc/blocks/enter-numbers-v3/block/package.json
  etc/blocks/enter-numbers/block/package.json
  lib/ptabler/software/package.json
  lib/ptexter/package.json
  package.json
  turbo.json
Due: Backend, Desktop

add reset:dist command
  package.json
Due: none

MILAB-4977: feat: Disable Sentry and external monitoring in CI environments
  helm/gcp/values.yaml
  helm/values.yaml
  tests/workflow-tengo/helm/values.yaml
Due: Backend

ref: linter
  helm/gcp/values.yaml
  helm/values.yaml
  tests/workflow-tengo/helm/values.yaml
Due: Backend

autogen: empty changeset
  .changeset/tiny-parents-speak.md
Due: none

PFrameReadAPIV11 correct type
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

chore: changeset
  .changeset/public-boats-find.md
Due: none

chore: fmt
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

fix: use correct name
  lib/node/pf-driver/src/ptable_pool.ts
Due: Desktop

fix: correct name
  lib/node/pf-driver/src/ptable_pool.ts
Due: Desktop

chore: changeset
  .changeset/flat-bikes-stick.md
Due: none

PFrameReadAPIV11 correct type (#1427)
  .changeset/public-boats-find.md
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
  lib/node/pf-driver/src/ptable_pool.ts
Due: Desktop

MILAB-4977: Disable Sentry and external monitoring in CI (#1426)
  .changeset/tiny-parents-speak.md
  helm/gcp/values.yaml
  helm/values.yaml
  tests/workflow-tengo/helm/values.yaml
Due: Backend

Fix prerun outputs not calculated after v3 API transition
  lib/node/pl-middle-layer/src/mutator/migration.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
Due: Desktop

return test:dry-run
  package.json
Due: none

fix: add supportsStorageDebugView feature flag with fallback to old callback
  lib/model/common/src/flags/block_flags.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  sdk/model/src/block_model.ts
Due: Desktop

chore: changeset
  .changeset/smooth-walls-laugh.md
Due: none

Modernize scripts and turbo.json (#1425)
  .changeset/flat-bikes-stick.md
  .github/workflows/build.yaml
  .github/workflows/test-k8s-nightly.yaml
  etc/blocks/enter-numbers-v3/block/package.json
  etc/blocks/enter-numbers/block/package.json
  package.json
  turbo.json
Due: Desktop

feat: ts-builder vscode-integration command
  tools/ts-builder/.oxfmt.json
  tools/ts-builder/src/cli.ts
  tools/ts-builder/src/commands/vscode-integration.ts
Due: Backend

chore: changeset
  .changeset/tired-parks-learn.md
Due: none

IDE configs cleanup
  .changeset/short-lies-type.md
  .vscode/settings.json
  .zed/settings.json
  pnpm-lock.yaml
Due: none

IDE configs cleanup (#1431)
  .changeset/short-lies-type.md
  .vscode/settings.json
  .zed/settings.json
  pnpm-lock.yaml
Due: none

fix an ability to show all hidden columns
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
Due: none

stash
  tools/ts-builder/package.json
  tools/ts-builder/rolldown.config.mjs
  tools/ts-builder/src/commands/build.ts
  tools/ts-builder/src/commands/utils/config-manager.ts
  tools/ts-builder/src/commands/utils/executable-resolver.ts
  tools/ts-builder/src/configs/rolldown.block-model.config.mjs
  tools/ts-builder/src/configs/rolldown.node.config.mjs
Due: Backend

rollup -> rolldown
  pnpm-lock.yaml
  tools/ts-builder/rolldown.config.mjs
  tools/ts-builder/src/commands/utils/config-manager.ts
  tools/ts-builder/src/commands/utils/executable-resolver.ts
  tools/ts-builder/src/commands/utils/path-utils.ts
  tools/ts-builder/src/configs/rolldown/block-model.config.mjs
  tools/ts-builder/src/configs/rolldown/common.mjs
  tools/ts-builder/src/configs/rolldown/node.config.mjs
  tools/ts-builder/src/configs/rolldown/plugins.mjs
  tools/ts-builder/src/configs/rollup.block-model.config.js
  tools/ts-builder/src/configs/rollup.node.config.js
Due: Backend

vite v8
  lib/ptabler/schema/vite.config.mts
  lib/ui/uikit/src/components/PlAutocomplete/pl-autocomplete.scss
  lib/ui/uikit/src/components/PlDropdownLegacy/pl-dropdown-legacy.scss
  lib/ui/uikit/src/components/PlFileDialog/Remote.vue
  lib/ui/uikit/src/components/PlFileDialog/remote-helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/block-tools/vite.config.mts
  tools/build-configs/src/createViteDevConfig.ts
  tools/build-configs/src/createViteLibConfig.ts
  tools/build-configs/src/vite.ts
  tools/build-configs/vite.config.mts
  tools/package-builder/src/__test__/vite.config.mts
  tools/ts-builder/src/configs/rolldown/common.mjs
Due: Backend

vite 7 and rolldown
  lib/node/pl-client/src/core/transaction.ts
  lib/node/pl-middle-layer/build.node.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/package.json
  sdk/model/src/env_value.ts
  sdk/model/src/internal.ts
  sdk/model/src/raw_globals.ts
  tools/build-configs/package.json
  tools/ts-builder/package.json
  tools/ts-builder/src/configs/rolldown/block-model.config.mjs
  tools/ts-builder/src/configs/rolldown/common.mjs
  tools/ts-builder/src/configs/rolldown/create-block-model-config.mjs
  tools/ts-builder/src/configs/rolldown/create-node-config.mjs
  tools/ts-builder/src/configs/rolldown/node.config.mjs
Due: Backend, Desktop

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
