Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

variable one style naming
  lib/ui/uikit/src/components/PlTooltip/PlTooltip.vue
Due: none

Feat: search table tip (#1449)
  .changeset/yummy-keys-hear.md
  etc/blocks/ui-examples/ui/src/pages/FormComponentsPage/Main.vue
  lib/ui/uikit/src/components/PlSearchField/PlSearchField.vue
  lib/ui/uikit/src/components/PlTooltip/PlTooltip.vue
  sdk/ui-vue/src/components/PlTableFastSearch/PlTableFastSearch.vue
Due: Desktop

MILAB-5720: Add findTableColumn to PFrameWasmAPI
  .changeset/add-find-table-column-to-wasm-api.md
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
  pnpm-lock.yaml
Due: Desktop

MILAB-5720: Add findTableColumn to PFrameWasmAPI (#1450)
  .changeset/add-find-table-column-to-wasm-api.md
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
  pnpm-lock.yaml
Due: Desktop

chore: udpate lock
  pnpm-lock.yaml
Due: none

chore: changeset
  .changeset/olive-papayas-clean.md
Due: none

chore: changeset
  .changeset/evil-dogs-melt.md
Due: none

fix paths
  codecov.yml
  packages/lib/node/pl-drivers/src/drivers/ls.test.ts
Due: none

fix: update asset paths in tests to reflect new directory structure
  packages/lib/node/pl-middle-layer/src/mutator/project-v3.test.ts
  packages/tests/workflow-tengo/src/file/file.test.ts
  packages/tests/workflow-tengo/src/txt/txt.test.ts
Due: none

PFrames version bump
  .changeset/ripe-queens-fail.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: always apply user sortings
  sdk/model/src/components/PlDataTable/table.ts
Due: Desktop

fix paths
  packages/tests/drivers-ml-blocks-integration/src/migrations.test.ts
  packages/tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
  packages/tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
Due: none

PFrames version bump (#1453)
  .changeset/ripe-queens-fail.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: add eslint-disable comment for skipped tests in ml-legacy and ml-v3 test files
  packages/tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
  packages/tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
Due: none

fix: add createPlDataTableSheet export to PlDataTable
  sdk/model/src/components/PlDataTable/index.ts
Due: Desktop

fix: simplify path resolution in migration tests
  packages/tests/drivers-ml-blocks-integration/src/migrations.test.ts
  packages/tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
  packages/tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
Due: none

Expose blockStorage to vm ctx
  .changeset/proud-rooms-hug.md
  lib/node/pl-middle-layer/src/js_render/computable_context.ts
  sdk/model/src/render/internal.ts
Due: Desktop

Expose blockStorage to vm ctx (#1454)
  .changeset/proud-rooms-hug.md
  lib/node/pl-middle-layer/src/js_render/computable_context.ts
  sdk/model/src/render/internal.ts
Due: Desktop

Add plugin outputs to block config pack
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/index.ts
  sdk/model/src/plugin_model.ts
  sdk/model/src/render/api.ts
  sdk/ui-vue/src/internal/createAppV3.ts
Due: Desktop

Pass wrapped input callbacks directly to PluginRenderCtx
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/render/api.ts
Due: Desktop

PFrames version bump
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add changesets and backward-compat RenderCtx alias
  .changeset/pframes-bump.md
  .changeset/plugin-outputs.md
  sdk/model/src/render/api.ts
Due: Desktop

Plugin outputs, PFrames version bump (#1455)
  .changeset/pframes-bump.md
  .changeset/plugin-outputs.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/index.ts
  sdk/model/src/plugin_model.ts
  sdk/model/src/render/api.ts
  sdk/ui-vue/src/internal/createAppV3.ts
Due: Desktop

Plugin feature flags with auto-merge into block flags
  lib/model/common/src/flags/flag_utils.ts
  sdk/model/src/block_model.ts
  sdk/model/src/plugin_model.ts
Due: Desktop

usePlugin composable with type-safe PluginHandle
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/ui/src/Counter.vue
  etc/blocks/model-test/ui/src/MainPage.vue
  sdk/model/src/block_model.ts
  sdk/model/src/block_model_legacy.ts
  sdk/model/src/index.ts
  sdk/model/src/platforma.ts
  sdk/model/src/plugin_model.ts
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/internal/createAppV2.test.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  sdk/ui-vue/src/lib.ts
  sdk/ui-vue/src/usePlugin.ts
  sdk/ui-vue/src/usePluginData.ts
Due: Desktop

Add changeset for usePlugin composable
  .changeset/use-plugin-composable.md
Due: none

usefull changes
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_double.ts
  lib/node/pf-driver/src/ptable_pool.ts
Due: Desktop

PluginHandle branded by factory phantom, import/export cleanup
  .changeset/use-plugin-composable.md
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/ui/src/Counter.vue
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_callbacks.ts
  sdk/model/src/components/PFrameForGraphs.ts
  sdk/model/src/index.ts
  sdk/model/src/pframe_utils/axes.ts
  sdk/model/src/pframe_utils/columns.ts
  sdk/model/src/platforma.ts
  sdk/model/src/plugin_handle.ts
  sdk/model/src/plugin_model.ts
  sdk/model/src/render/api.ts
  sdk/ui-vue/src/internal/createAppV3.test.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  sdk/ui-vue/src/lib.ts
  sdk/ui-vue/src/usePlugin.ts
Due: Desktop

Auto-format after pre-commit hook
  sdk/model/src/block_storage.ts
  sdk/model/src/components/PFrameForGraphs.ts
  sdk/model/src/platforma.ts
  sdk/model/src/plugin_handle.ts
  sdk/model/src/plugin_model.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  sdk/ui-vue/src/lib.ts
Due: Desktop

MILAB-5366: Replace css-injected-by-js with lib-inject-css
  .changeset/lib-inject-css.md
  lib/ui/uikit/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/ui-vue/package.json
  tools/build-configs/package.json
  tools/build-configs/src/createViteLibConfig.ts
Due: Backend

feat: update deps
  lib/node/pf-driver/package.json
  lib/node/pl-middle-layer/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Desktop

revert
  lib/node/pf-driver/package.json
  lib/node/pl-middle-layer/package.json
Due: Desktop

chore: changeset
  .changeset/evil-teeth-mix.md
Due: none

Chore: bump pframe version (#1458)
  .changeset/evil-teeth-mix.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: changeset
  .changeset/tall-jeans-show.md
Due: none

MILAB-5690: use secret argType to refer secrets in env vars
  sdk/workflow-tengo/src/exec/constants.lib.tengo
  sdk/workflow-tengo/src/exec/exec-impl.tpl.tengo
  sdk/workflow-tengo/src/exec/index.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
