Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto # Overall code coverage
        threshold: 5% # Overall code coverage drop
    patch: # Changed lines coverage
      default:
        target: 50% # New code coverage
        threshold: 5%  # Existing code coverage drop

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: ui
      name: UI
      paths:
        - etc/ui-vue-docs/**/*
        - etc/uikit-playground/**/*
        - lib/ui/uikit/**/*
        - sdk/ui-vue/**/*
    - component_id: backend
      name: Backend
      paths:
        - helm/**/*
        - lib/other/**/*
        - lib/ptabler/**/*
        - lib/ptexter/**/*
        - sdk/workflow-tengo/**/*
        - tests/config-local-ml-integration/**/*
        - tests/helper/**/*
        - tests/package-builder/**/*
        - tests/tengo-builder/**/*
        - tests/workflow-tengo/**/*
        - tools/**/*
    - component_id: desktop
      name: Desktop
      paths:
        - etc/blocks/**/*
        - lib/model/**/*
        - lib/node/**/*
        - lib/util/**/*
        - sdk/eslint-config/**/*
        - sdk/model/**/*
        - sdk/test/**/*
        - tests/block-repo/**/*
        - tests/drivers-ml-blocks-integration/**/*

ignore:
  - "etc/uikit-playground/**/*"
  - "sdk/ui-vue/**/*"
  - "lib/ui/uikit/**/*"

MILAB-4848: autogen: changeset
  .changeset/purple-eggs-dance.md
Due: none

fix: close client
  lib/node/pl-client/src/test/test_config.ts
Due: Desktop

MILAB-4848: close rawClient after test (#1387)
  .changeset/purple-eggs-dance.md
  lib/node/pl-client/src/test/test_config.ts
  sdk/test/src/test-pl.ts
Due: Desktop

do not verify docker entrypoints on arm64 hosts: we skip docker there
  .changeset/four-states-strive.md
  tests/package-builder/30.software-pkg/verify.mjs
Due: Backend

[sdk/model] Replace RenderCtx with RenderCtxBase where applicable
  .changeset/upset-baths-accept.md
  sdk/model/src/components/PFrameForGraphs.ts
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/pframe_utils/columns.ts
Due: Desktop

[sdk/model] Replace RenderCtx with RenderCtxBase where applicable (#1389)
  .changeset/upset-baths-accept.md
  sdk/model/src/components/PFrameForGraphs.ts
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/pframe_utils/columns.ts
Due: Desktop

MILAB-5374: new tests with docker ep/cmd constraints (#1384)
  .changeset/easy-swans-do.md
  etc/blocks/model-test/workflow/package.json
  etc/blocks/model-test/workflow/src/main.tpl.tengo
  etc/blocks/read-logs/workflow/package.json
  etc/blocks/read-logs/workflow/src/main.tpl.tengo
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/workflow-tengo/package.json
  tests/workflow-tengo/src/assets/real-asset-download.tpl.tengo
  tests/workflow-tengo/src/exec/exec.test.ts
  tests/workflow-tengo/src/exec/pkg/pkg-install.tpl.tengo
  tests/workflow-tengo/src/exec/run/docker_constraints.tpl.tengo
  tests/workflow-tengo/src/exec/run/fake_java.tpl.tengo
  tests/workflow-tengo/src/exec/run/hello_go.tpl.tengo
  tests/workflow-tengo/src/exec/run/hello_go_limits.tpl.tengo
  tests/workflow-tengo/src/exec/run/use_asset.tpl.tengo
  tests/workflow-tengo/src/pframes/agg_2_body_pure.tpl.tengo
  tests/workflow-tengo/src/pframes/proc_1_body.tpl.tengo
  tests/workflow-tengo/src/pframes/proc_2_sparse_body.tpl.tengo
Due: Backend, Desktop

do not verify docker entrypoints on arm64 hosts: we skip docker there (#1388)
  .changeset/four-states-strive.md
  tests/package-builder/30.software-pkg/verify.mjs
Due: Backend

fix flapping test
  tests/drivers-ml-blocks-integration/src/index.ts
  tests/drivers-ml-blocks-integration/src/v2.test.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

fix flapping test (#1390)
  tests/drivers-ml-blocks-integration/src/index.ts
  tests/drivers-ml-blocks-integration/src/v2.test.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

small cleanup
  tests/drivers-ml-blocks-integration/src/index.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

lint fix
  tests/drivers-ml-blocks-integration/src/index.ts
Due: Desktop

small cleanup (#1391)
  tests/drivers-ml-blocks-integration/src/index.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

fix: close client
  sdk/test/src/test-pl.ts
Due: Desktop

fix: free resources
  sdk/test/src/test-block.ts
  sdk/test/src/test-pl.ts
Due: Desktop

Bump ts-helpers version to not break desktop and blocks
  .changeset/polite-games-sleep.md
Due: none

MILAB-4848: autogen: changeset
  .changeset/slow-kiwis-lay.md
Due: none

Fix/bump ts helpers after refactoring (#1393)
  .changeset/polite-games-sleep.md
Due: none

MILAB-4848: fix: missed client close (#1392)
  .changeset/slow-kiwis-lay.md
  sdk/test/src/test-block.ts
  sdk/test/src/test-pl.ts
Due: Desktop

fix: vitest.config pool: threads -> forks
  tools/build-configs/src/createVitestConfig.ts
Due: Backend

MILAB-5084: fix: missed file
  sdk/workflow-tengo/src/workdir/index.lib.tengo
Due: Backend

MILAB-5084: ref: getResourceTypesFor
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

MILAB-5084: autogen: changeset
  .changeset/brown-wombats-live.md
Due: none

MILAB-4848: autogen: changeset
  .changeset/nine-carpets-smile.md
Due: none

fix: getResourceTypes
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

fix: compatibility issue (string -> Map)
  sdk/workflow-tengo/src/exec/limits.lib.tengo
Due: Backend

ref: simplified expression
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

MILAB-4848: vitest config pool: threads -> forks (#1395)
  .changeset/nine-carpets-smile.md
  tools/build-configs/src/createVitestConfig.ts
Due: Backend

fix: impl asyncDispose
  lib/node/pl-drivers/src/drivers/logs_stream.ts
  lib/node/pl-drivers/src/drivers/upload.ts
Due: Desktop

MILAB-5500: autogen: changeset
  .changeset/small-socks-film.md
Due: none

ref: use stop method
  lib/node/pl-drivers/src/drivers/logs_stream.ts
  lib/node/pl-drivers/src/drivers/upload.ts
Due: Desktop

fix: wait for watcher to sync
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

MILAB-5500: graceful termination for LogsStreamDriver and UploadDriver (#1396)
  .changeset/small-socks-film.md
  lib/node/pl-drivers/src/drivers/logs_stream.ts
  lib/node/pl-drivers/src/drivers/upload.ts
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

Created @milaboratories/strings package
  .changeset/many-ties-punch.md
  .changeset/wet-mirrors-yell.md
  docs/repo-structure.md
  lib/strings/package.json
  lib/strings/strings.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/build-configs/src/createRollupBlockModelConfig.ts
Due: Backend

ref: getRunnerFor -> getResourceTypeFor
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend
