Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

fix: use oxfmt in zed
  .zed/settings.json
Due: none

fix: remove broken flag
  tools/ts-builder/src/commands/format.ts
Due: Backend

migrate to new approcach with check and fmt commands
  package.json
  sdk/ui-vue/package.json
  tools/ts-builder/CHANGELOG.md
  tools/ts-builder/README.md
  tools/ts-builder/bin/ts-builder.js
  tools/ts-builder/package.json
  tools/ts-builder/rollup.config.js
  tools/ts-builder/src/cli.ts
  tools/ts-builder/src/commands/build.ts
  tools/ts-builder/src/commands/check.ts
  tools/ts-builder/src/commands/configs/init-build-config.ts
  tools/ts-builder/src/commands/configs/init-configs.ts
  tools/ts-builder/src/commands/configs/init-fmt-config.ts
  tools/ts-builder/src/commands/configs/init-lint-config.ts
  tools/ts-builder/src/commands/configs/init-serve-config.ts
  tools/ts-builder/src/commands/configs/init-tsconfig.ts
  tools/ts-builder/src/commands/format.ts
  tools/ts-builder/src/commands/formater.ts
  tools/ts-builder/src/commands/lint.ts
  tools/ts-builder/src/commands/linter.ts
  tools/ts-builder/src/commands/serve.ts
  tools/ts-builder/src/commands/types.ts
  tools/ts-builder/src/commands/utils/command-runner.ts
  tools/ts-builder/src/commands/utils/common-options.ts
  tools/ts-builder/src/commands/utils/executable-resolver.ts
  tools/ts-builder/src/commands/utils/index.ts
  tools/ts-builder/src/commands/utils/path-utils.ts
  tools/ts-builder/src/configs/rollup.block-model.config.js
  tools/ts-builder/src/configs/rollup.node.config.js
  tools/ts-builder/src/configs/tsconfig.block-model.json
  tools/ts-builder/src/configs/tsconfig.block-test.json
  tools/ts-builder/src/configs/tsconfig.block-ui.json
  tools/ts-builder/src/configs/tsconfig.browser.json
  tools/ts-builder/src/configs/tsconfig.node.json
  tools/ts-builder/src/configs/vite.block-ui.config.js
  tools/ts-builder/src/configs/vite.browser-lib.config.js
  tools/ts-builder/src/configs/vite.browser.config.js
  tools/ts-builder/tsconfig.json
  turbo.json
Due: Backend

update migration guide
  docs/instructions/migration-to-latest-block-layout-v2.md
Due: none

typo
  tools/ts-builder/src/cli.ts
  tools/ts-builder/src/commands/check.ts
  tools/ts-builder/src/commands/format.ts
  tools/ts-builder/src/commands/formatter.ts
Due: Backend

comment broken checks
  tests/package-builder/10.asset/package.json
  tests/package-builder/20.runenv/package.json
  tests/package-builder/30.software-pkg/package.json
  tests/package-builder/90.catalogue/package.json
  tests/tengo-builder/1-library/package.json
  tests/tengo-builder/3-software-dep/package.json
Due: Backend

formating after rebase
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
  sdk/model/src/components/PFrameForGraphs.ts
Due: Desktop

fix: broken lock file
  lib/ui/uikit/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/ui-vue/package.json
Due: none

remove eslint from repo
  codecov.yml
  docs/block-build-system.md
  docs/instructions/migration-to-latest-block-layout-v2.md
  docs/repo-structure.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/eslint-config/CHANGELOG.md
  sdk/eslint-config/README.md
  sdk/eslint-config/index.d.ts
  sdk/eslint-config/index.js
  sdk/eslint-config/package.json
  tools/blocks-deps-updater/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/README.md
  tools/eslint-config/index.d.ts
  tools/eslint-config/index.js
  tools/eslint-config/package.json
  tools/r-builder/package.json
Due: Backend, Desktop

fix: build
  tests/config-local-ml-integration/package.json
  tests/drivers-ml-blocks-integration/package.json
  tools/oclif-index/src/index.ts
  tools/package-builder/package.json
  tools/pl-bootstrap/package.json
  tools/tengo-builder/package.json
Due: Backend, Desktop

update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update deps files
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

show turbo logs
  package.json
Due: none

ci specific builds
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

correct turbo flow
  turbo.json
Due: none

try fix ci 2
  turbo.json
Due: none

fix tests
  tests/package-builder/10.asset/package.json
  tests/package-builder/20.runenv/package.json
  tests/package-builder/30.software-pkg/package.json
  tests/package-builder/90.catalogue/package.json
  tests/package-builder/package.json
  tests/package-builder/test.js
  tests/tengo-builder/1-library/package.json
  tests/tengo-builder/3-software-dep/package.json
Due: Backend

fix tests
  tests/tengo-builder/2-artifacts/package.json
  tests/tengo-builder/package.json
  tests/tengo-builder/test.js
Due: Backend

ci silent output
  package.json
Due: none

remove tslib
  lib/node/pf-driver/package.json
  lib/node/pl-client/package.json
  lib/node/pl-middle-layer/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Desktop

fix: silent ci tests
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

chore: changeset
  .changeset/major-cats-wash.md
Due: none

remove turbo flag for general command
  package.json
Due: none

ref: remove unused packages
  etc/blocks/model-test/test/package.json
  etc/blocks/monetization-test/ui/package.json
  etc/blocks/read-logs/ui/package.json
  etc/blocks/transfer-files/ui/package.json
  lib/model/middle-layer/package.json
  lib/model/middle-layer/src/block_meta/block_description.ts
  lib/model/middle-layer/src/block_meta/block_manifest.ts
  lib/model/pl-error-like/package.json
  lib/node/computable/package.json
  lib/node/pf-driver/package.json
  lib/node/pl-client/package.json
  lib/node/pl-config/package.json
  lib/node/pl-deployments/package.json
  lib/node/pl-drivers/package.json
  lib/node/pl-http/package.json
  lib/node/pl-middle-layer/package.json
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  lib/node/pl-tree/package.json
  lib/util/README.md
  lib/util/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/package.json
  sdk/test/package.json
  sdk/ui-vue/package.json
  tests/block-repo/package.json
  tools/block-tools/package.json
  tools/build-configs/package.json
  tools/build-configs/src/tsup.ts
  tools/build-configs/tsup.config.ts
  tools/build-configs/vite.config.mts
  tools/package-builder/package.json
  tools/pl-bootstrap/package.json
  tools/tengo-builder/package.json
Due: Backend, Desktop

chore: fmt
  lib/node/pl-middle-layer/package.json
Due: Desktop

chore: chnageset
  .changeset/cool-kiwis-draw.md
Due: none

Fix: silent ci tests (#1418)
  .changeset/major-cats-wash.md
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

Ref: remove unused packages (#1419)
  .changeset/cool-kiwis-draw.md
  etc/blocks/model-test/test/package.json
  etc/blocks/monetization-test/ui/package.json
  etc/blocks/read-logs/ui/package.json
  etc/blocks/transfer-files/ui/package.json
  lib/model/middle-layer/package.json
  lib/model/middle-layer/src/block_meta/block_description.ts
  lib/model/middle-layer/src/block_meta/block_manifest.ts
  lib/model/pl-error-like/package.json
  lib/node/computable/package.json
  lib/node/pf-driver/package.json
  lib/node/pl-client/package.json
  lib/node/pl-config/package.json
  lib/node/pl-deployments/package.json
  lib/node/pl-drivers/package.json
  lib/node/pl-http/package.json
  lib/node/pl-middle-layer/package.json
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  lib/node/pl-tree/package.json
  lib/util/README.md
  lib/util/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/package.json
  sdk/test/package.json
  sdk/ui-vue/package.json
  tests/block-repo/package.json
  tools/block-tools/package.json
  tools/build-configs/package.json
  tools/build-configs/src/tsup.ts
  tools/build-configs/tsup.config.ts
  tools/build-configs/vite.config.mts
  tools/package-builder/package.json
  tools/pl-bootstrap/package.json
  tools/tengo-builder/package.json
Due: Backend, Desktop

[sdk/ui] Make PlAgDataTableV2 export TSV by default instead of CSV
  .changeset/solid-webs-raise.md
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
Due: none

[sdk/ui] Make PlAgDataTableV2 export TSV by default instead of CSV (#1421)
  .changeset/solid-webs-raise.md
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
Due: none

feat: pf-driver createTableByDataQuery
  lib/node/pf-driver/src/driver_decl.ts
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_double.ts
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pf-driver/src/ptable_def_pool.ts
  lib/node/pf-driver/src/ptable_pool.ts
  lib/node/pf-driver/src/ptable_shared.ts
  lib/node/pl-middle-layer/src/middle_layer/driver_kit.ts
  lib/node/pl-middle-layer/src/pool/result_pool.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Desktop

chore: changeset
  .changeset/short-clocks-share.md
Due: none

Update oxc setup
  .changeset/small-candles-flow.md
  .gitignore
  .vscode/settings.json
  etc/blocks/model-test/test/.gitignore
  lib/node/pl-client/.gitignore
  lib/node/pl-middle-layer/.gitignore
  lib/node/pl-tree/.gitignore
  lib/util/helpers/src/prettyBytes.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/test/.gitignore
  sdk/test/src/test-pl.ts
  tests/drivers-ml-blocks-integration/.gitignore
  tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
  tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
  tests/workflow-tengo/.gitignore
  tools/block-tools/package.json
  tools/package-builder/package.json
  tools/pl-bootstrap/package.json
  tools/tengo-builder/package.json
  tools/ts-builder/package.json
  tools/ts-builder/src/commands/utils/executable-resolver.ts
Due: Backend, Desktop

Update oxc setup (#1420)
  .changeset/small-candles-flow.md
  .gitignore
  .vscode/settings.json
  etc/blocks/model-test/test/.gitignore
  lib/node/pl-client/.gitignore
  lib/node/pl-middle-layer/.gitignore
  lib/node/pl-tree/.gitignore
  lib/util/helpers/src/prettyBytes.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/test/.gitignore
  sdk/test/src/test-pl.ts
  tests/drivers-ml-blocks-integration/.gitignore
  tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
  tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
  tests/workflow-tengo/.gitignore
  tools/block-tools/package.json
  tools/package-builder/package.json
  tools/pl-bootstrap/package.json
  tools/tengo-builder/package.json
  tools/ts-builder/package.json
  tools/ts-builder/src/commands/utils/executable-resolver.ts
Due: Backend, Desktop

update types and add createPTableV2
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
  lib/node/pf-driver/package.json
  lib/node/pf-driver/src/driver_decl.ts
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pf-driver/src/ptable_def_pool.ts
  lib/node/pf-driver/src/ptable_pool.ts
  lib/node/pf-driver/src/ptable_shared.ts
  lib/node/pl-middle-layer/src/js_render/computable_context.ts
  lib/node/pl-middle-layer/src/middle_layer/driver_kit.ts
  lib/node/pl-middle-layer/src/pool/result_pool.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/package.json
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/render/api.ts
  sdk/model/src/render/index.ts
  sdk/model/src/render/internal.ts
  sdk/model/src/render/util/column_collection.ts
Due: Desktop

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
