Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

MILAB-5218: clear errors from notEmpty emitted in ll_client requests
  lib/node/pl-client/src/core/ll_client.test.ts
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

MILAB-5218: +changeset
  .changeset/warm-deer-grab.md
Due: none

MILAB-5218: clear errors from notEmpty emitted in ll_client requests (#1358)
  .changeset/warm-deer-grab.md
  lib/node/pl-client/src/core/ll_client.test.ts
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

MILAB-4987: ref: drop dead code
  lib/node/pl-drivers/src/drivers/upload_task.ts
Due: Desktop

MILAB-4987: ref: isResourceWasDeletedError -> isTerminalUploadError
  lib/node/pl-drivers/src/drivers/upload_task.ts
Due: Desktop

MILAB-4987: ref: isTerminalUploadError
  lib/node/pl-drivers/src/drivers/upload_task.ts
Due: Desktop

MILAB-4987: fix: log and change message
  lib/node/pl-drivers/src/drivers/upload_task.ts
Due: Desktop

MILAB-4987: autogen: changeset
  .changeset/every-hotels-punch.md
Due: none

Update lib/node/pl-drivers/src/drivers/upload_task.ts
  lib/node/pl-drivers/src/drivers/upload_task.ts
Due: Desktop

MILAB-4987: AlreadyExists code logging (#1359)
  .changeset/every-hotels-punch.md
  lib/node/pl-drivers/src/drivers/upload_task.ts
Due: Desktop

MILAB-5218: gradually increase ping timeout during wire proto autodetect
  .changeset/kind-readers-flash.md
  lib/node/pl-client/src/core/client.ts
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

MILAB-5218: make error checkers to digest undefined errs
  lib/node/pl-client/src/core/errors.ts
Due: Desktop

MILAB-5114: asset import test is back
  .changeset/smart-gifts-march.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/workflow-tengo/src/assets/asset-meta.as.json
  tests/workflow-tengo/src/assets/assets.test.ts
  tests/workflow-tengo/src/assets/import-asset.tpl.tengo
  tests/workflow-tengo/src/assets/import-software.tpl.tengo
  tests/workflow-tengo/src/assets/real-asset-download.tpl.tengo
  tests/workflow-tengo/src/assets/software-meta.sw.json
  tests/workflow-tengo/src/exec/pkg/package.test.ts
  tests/workflow-tengo/src/exec/pkg/pkg-file-export.tpl.tengo
  tests/workflow-tengo/src/exec/pkg/pkg-install.tpl.tengo
Due: Backend

MILAB-5218: gradually increase ping timeout during wire proto autodetect (#1360)
  .changeset/kind-readers-flash.md
  lib/node/pl-client/src/core/client.ts
  lib/node/pl-client/src/core/errors.ts
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

MILAB-5114: asset import real works again (#1362)
  .changeset/smart-gifts-march.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/workflow-tengo/src/assets/asset-meta.as.json
  tests/workflow-tengo/src/assets/assets.test.ts
  tests/workflow-tengo/src/assets/import-asset.tpl.tengo
  tests/workflow-tengo/src/assets/import-software.tpl.tengo
  tests/workflow-tengo/src/assets/real-asset-download.tpl.tengo
  tests/workflow-tengo/src/assets/software-meta.sw.json
  tests/workflow-tengo/src/exec/pkg/package.test.ts
  tests/workflow-tengo/src/exec/pkg/pkg-file-export.tpl.tengo
  tests/workflow-tengo/src/exec/pkg/pkg-install.tpl.tengo
Due: Backend

MILAB-5149: autogen: empty changeset
  .changeset/icy-schools-walk.md
Due: none

MILAB-5149: chore: enable driver.test (#1349)
  .changeset/icy-schools-walk.md
  lib/node/pl-drivers/src/drivers/download_url/driver.test.ts
Due: Desktop

MILAB-5218: a place to provide logger to unauth client
  .changeset/nice-results-raise.md
  lib/node/pl-client/src/core/unauth_client.ts
Due: Desktop

MILAB-5218: a place to provide logger to unauth client (#1363)
  .changeset/nice-results-raise.md
  lib/node/pl-client/src/core/unauth_client.ts
Due: Desktop

Fix coverage calculation
  .changeset/crazy-wombats-notice.md
  lib/node/pl-middle-layer/package.json
  lib/ui/uikit/package.json
  lib/util/helpers/package.json
  lib/util/test-helpers/package.json
  sdk/model/package.json
  sdk/ui-vue/package.json
  tools/build-configs/src/createViteLibConfig.ts
  tools/build-configs/src/createVitestConfig.ts
  tools/build-configs/src/rollupUtils.ts
Due: Backend, Desktop

Revert sources export
  codecov.yml
  lib/ui/uikit/package.json
  lib/util/helpers/package.json
  lib/util/test-helpers/package.json
  sdk/model/package.json
  sdk/ui-vue/package.json
Due: Desktop

Correct coverage pattern
  tools/build-configs/src/createViteLibConfig.ts
  tools/build-configs/src/createVitestConfig.ts
  tools/build-configs/src/rollupUtils.ts
Due: Backend

Removed as they are default
  tools/build-configs/src/createViteLibConfig.ts
  tools/build-configs/src/rollupUtils.ts
Due: Backend

Remove platforma-open
  tools/build-configs/src/createVitestConfig.ts
Due: Backend

Increased test timeout
  tests/workflow-tengo/src/pframes/proc_3_json.test.ts
Due: Backend

lcovonly
  tools/build-configs/src/createVitestConfig.ts
Due: Backend

Fix coverage calculation (#1364)
  .changeset/crazy-wombats-notice.md
  codecov.yml
  lib/node/pl-middle-layer/package.json
  lib/ui/uikit/package.json
  sdk/ui-vue/package.json
  tests/workflow-tengo/src/pframes/proc_3_json.test.ts
  tools/build-configs/src/createVitestConfig.ts
Due: Backend, Desktop

fix(uikit): use blob URL for paint worklet to comply with CSP
  .changeset/sweet-dancers-sell.md
  lib/ui/uikit/src/layout/PlPlaceholder/PlPlaceholder.vue
Due: none

Do not block PRs with coverage drops
  .changeset/soft-rabbits-help.md
  codecov.yml
Due: none

Do not block PRs with coverage drops (#1366)
  .changeset/soft-rabbits-help.md
  codecov.yml
Due: none

fix(uikit): use blob URL for paint worklet to comply with CSP (#1365)
  .changeset/sweet-dancers-sell.md
  lib/ui/uikit/src/layout/PlPlaceholder/PlPlaceholder.vue
Due: none

MILAB-5275: ref: make wire protocol autodetect optional
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

MILAB-5275: autogen: changeset
  .changeset/twelve-crews-march.md
Due: none

MILAB-5275: turn off rest autodetect (#1367)
  .changeset/twelve-crews-march.md
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

Add a running state variant to PlAgDataTableV2
  .changeset/orange-loops-do.md
  etc/blocks/ui-examples/ui/src/pages/PlAgDataTableV2Page.vue
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPage.vue
  lib/ui/uikit/src/layout/PlPlaceholder/PlPlaceholder.vue
  lib/ui/uikit/src/layout/PlPlaceholder/index.ts
  sdk/ui-vue/src/AgGridVue/useAgGridOptions.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgDataTable/PlAgOverlayLoading.vue
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
Due: Desktop

Use proper errors in projectOverview
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
Due: Desktop

test for the model
  etc/blocks/model-test/block/index.d.ts
  etc/blocks/model-test/block/index.js
  etc/blocks/model-test/model/package.json
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/model/tsconfig.json
  etc/blocks/model-test/test/eslint.config.mjs
  etc/blocks/model-test/test/package.json
  etc/blocks/model-test/test/src/wf.test.ts
  etc/blocks/model-test/test/tsconfig.json
  etc/blocks/model-test/test/vitest.config.mts
  etc/blocks/model-test/ui/index.html
  etc/blocks/model-test/workflow/src/main.tpl.tengo
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Desktop

[sdk/middle-layer] Block model upgrade: subtitle, tags, and section badges
  .changeset/eleven-monkeys-grin.md
  lib/model/common/src/bmodel/block_config.ts
  lib/model/common/src/bmodel/normalization.ts
  lib/model/common/src/navigation.ts
  lib/model/middle-layer/src/project_overview.ts
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  sdk/model/src/builder.ts
Due: Desktop

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
