Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto # Overall code coverage
        threshold: 5% # Overall code coverage drop
    patch: # Changed lines coverage
      default:
        target: 50% # New code coverage
        threshold: 5%  # Existing code coverage drop

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: ui
      name: UI
      paths:
        - etc/ui-vue-docs/**/*
        - etc/uikit-playground/**/*
        - lib/ui/uikit/**/*
        - sdk/ui-vue/**/*
    - component_id: backend
      name: Backend
      paths:
        - helm/**/*
        - lib/other/**/*
        - lib/ptabler/**/*
        - lib/ptexter/**/*
        - sdk/workflow-tengo/**/*
        - tests/config-local-ml-integration/**/*
        - tests/helper/**/*
        - tests/package-builder/**/*
        - tests/tengo-builder/**/*
        - tests/workflow-tengo/**/*
        - tools/**/*
    - component_id: desktop
      name: Desktop
      paths:
        - etc/blocks/**/*
        - lib/model/**/*
        - lib/node/**/*
        - lib/util/**/*
        - sdk/eslint-config/**/*
        - sdk/model/**/*
        - sdk/test/**/*
        - tests/block-repo/**/*
        - tests/drivers-ml-blocks-integration/**/*

ignore:
  - "etc/uikit-playground/**/*"
  - "sdk/ui-vue/**/*"
  - "lib/ui/uikit/**/*"

Created @milaboratories/strings package (#1397)
  .changeset/many-ties-punch.md
  .changeset/wet-mirrors-yell.md
  docs/repo-structure.md
  lib/strings/package.json
  lib/strings/strings.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/build-configs/src/createRollupBlockModelConfig.ts
Due: Backend

ref: is a map -> is not undefiend
  sdk/workflow-tengo/src/exec/limits.lib.tengo
Due: Backend

MILAB-5084: getResourceTypesFor (#1376)
  .changeset/brown-wombats-live.md
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
  sdk/workflow-tengo/src/workdir/index.lib.tengo
Due: Backend

feat: query_data, query_spec types
  lib/model/common/src/drivers/pframe/index.ts
  lib/model/common/src/drivers/pframe/query_data.ts
  lib/model/common/src/drivers/pframe/query_spec.ts
  lib/model/common/src/drivers/pframe/spec/spec.ts
Due: Desktop

chore: changeset
  .changeset/wild-files-enjoy.md
Due: none

Removed __pl_storage_normalize, __pl_storage_getInfo changed to __pl_storage_debugView
  .changeset/gentle-jars-tickle.md
  lib/model/middle-layer/package.json
  lib/model/middle-layer/src/block_state.ts
  lib/model/middle-layer/src/project_overview.ts
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  pnpm-lock.yaml
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
  tests/drivers-ml-blocks-integration/package.json
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

Update PColumnPredicate to distinguish between columns selected by default and not
  .changeset/yummy-ideas-study.md
  sdk/model/src/components/PlMultiSequenceAlignment.ts
Due: Desktop

Unified Block State Finalization (#1399)
  .changeset/gentle-jars-tickle.md
  lib/model/middle-layer/package.json
  lib/model/middle-layer/src/block_state.ts
  lib/model/middle-layer/src/project_overview.ts
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  pnpm-lock.yaml
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
  tests/drivers-ml-blocks-integration/package.json
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

Added well-known VDJ labels
  .changeset/tall-bushes-own.md
  lib/model/common/src/drivers/pframe/spec/spec.ts
Due: Desktop

Update PColumnPredicate to distinguish between columns selected by default and not (#1400)
  .changeset/yummy-ideas-study.md
  sdk/model/src/components/PlMultiSequenceAlignment.ts
Due: Desktop

Added well-known VDJ labels (#1401)
  .changeset/tall-bushes-own.md
  lib/model/common/src/drivers/pframe/spec/spec.ts
Due: Desktop

feat: types proposal
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
  lib/model/common/src/drivers/pframe/query_data.ts
  lib/model/common/src/drivers/pframe/query_spec.ts
  lib/model/common/src/drivers/pframe/spec/spec.ts
Due: Desktop

fix: correct reexport
  lib/model/common/src/drivers/pframe/index.ts
Due: Desktop

Updated the migrations for DataModel
  .changeset/happy-hotels-thank.md
  etc/blocks/enter-numbers-v3/model/src/index.ts
  lib/model/middle-layer/src/project_overview.ts
  lib/node/pl-middle-layer/src/model/block_storage_helper.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  sdk/model/src/block_migrations.test.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
  sdk/model/src/index.ts
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

Review fixes
  sdk/model/src/block_migrations.test.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/index.ts
Due: Desktop

Updated the migrations for DataModel (#1402)
  .changeset/happy-hotels-thank.md
  etc/blocks/enter-numbers-v3/model/src/index.ts
  lib/model/middle-layer/src/project_overview.ts
  lib/node/pl-middle-layer/src/model/block_storage_helper.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  sdk/model/src/block_migrations.test.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
  sdk/model/src/index.ts
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

ref: review fixes
  lib/model/common/src/drivers/pframe/index.ts
  lib/model/common/src/drivers/pframe/query/index.ts
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
  lib/model/common/src/drivers/pframe/spec/selectors.ts
  lib/model/middle-layer/src/pframe/internal_api/common.ts
  lib/model/middle-layer/src/pframe/internal_api/index.ts
Due: Desktop

feat: add exhaustive comments
  lib/model/common/src/drivers/pframe/query/query_common.ts
Due: Desktop

feat: actialize types
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
Due: Desktop

Change DataModel creation interface
  .changeset/moody-plums-drive.md
  etc/blocks/enter-numbers-v3/model/src/index.ts
  sdk/model/src/block_migrations.test.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/index.ts
Due: Desktop

Fix early release
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
Due: Desktop

Change DataModel creation interface (#1403)
  .changeset/moody-plums-drive.md
  etc/blocks/enter-numbers-v3/model/src/index.ts
  sdk/model/src/block_migrations.test.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
  sdk/model/src/index.ts
Due: Desktop

ref: review changes
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
  lib/model/common/src/drivers/pframe/spec/spec.ts
Due: Desktop

chore: enable turbo cache monitoring
  .github/workflows/build.yaml
Due: none

ref: review changes
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
Due: Desktop

Refined DataModel
  .changeset/ready-experts-trade.md
  .gitignore
  .prettierignore
  .prettierrc
  .zed/settings.json
  etc/blocks/pool-explorer/model/src/index.ts
  etc/blocks/sum-numbers-v3/model/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_model.ts
Due: Desktop

Refined DataModel (#1405)
  .changeset/ready-experts-trade.md
  .gitignore
  .prettierignore
  .prettierrc
  .zed/settings.json
  etc/blocks/pool-explorer/model/src/index.ts
  etc/blocks/sum-numbers-v3/model/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_model.ts
Due: Desktop

[MILAB-5506] - Check long builds in the platforma repo (#1404)
  .github/workflows/build.yaml
Due: none

ref: review chages
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
Due: Desktop

feat: query_data, query_spec types (#1398)
  .changeset/wild-files-enjoy.md
  lib/model/common/src/drivers/pframe/index.ts
  lib/model/common/src/drivers/pframe/query/index.ts
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
  lib/model/common/src/drivers/pframe/spec/selectors.ts
  lib/model/common/src/drivers/pframe/spec/spec.ts
  lib/model/middle-layer/src/pframe/internal_api/common.ts
  lib/model/middle-layer/src/pframe/internal_api/index.ts
Due: Desktop

Zed config refined
  .changeset/spicy-mugs-smash.md
  .zed/settings.json
Due: none

Fix zed config
  .zed/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Zed config refined (#1406)
  .changeset/spicy-mugs-smash.md
  .zed/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Plugin model
  sdk/model/src/index.ts
  sdk/model/src/plugin_model.test.ts
  sdk/model/src/plugin_model.ts
Due: Desktop

Block storage facade
  lib/node/pl-middle-layer/src/model/block_storage_helper.ts
  lib/node/pl-middle-layer/src/model/index.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage.test.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_facade.ts
  sdk/model/src/index.ts
Due: Desktop

ref: small changes
  lib/model/common/src/drivers/pframe/query/query_common.ts
Due: Desktop

chore: changeset
  .changeset/tiny-cities-tell.md
Due: none

fix: correct eslint config
  lib/model/common/src/drivers/pframe/query/query_common.ts
  sdk/eslint-config/index.js
Due: Desktop

MILAB-5434: small changes query types (#1409)
  .changeset/tiny-cities-tell.md
  lib/model/common/src/drivers/pframe/query/query_common.ts
  sdk/eslint-config/index.js
Due: Desktop
