Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto # Overall code coverage
        threshold: 5% # Overall code coverage drop
    patch: # Changed lines coverage
      default:
        target: 50% # New code coverage
        threshold: 5%  # Existing code coverage drop

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: ui
      name: UI
      paths:
        - etc/ui-vue-docs/**/*
        - etc/uikit-playground/**/*
        - lib/ui/uikit/**/*
        - sdk/ui-vue/**/*
    - component_id: backend
      name: Backend
      paths:
        - helm/**/*
        - lib/other/**/*
        - lib/ptabler/**/*
        - lib/ptexter/**/*
        - sdk/workflow-tengo/**/*
        - tests/config-local-ml-integration/**/*
        - tests/helper/**/*
        - tests/package-builder/**/*
        - tests/tengo-builder/**/*
        - tests/workflow-tengo/**/*
        - tools/**/*
    - component_id: desktop
      name: Desktop
      paths:
        - etc/blocks/**/*
        - lib/model/**/*
        - lib/node/**/*
        - lib/util/**/*
        - sdk/eslint-config/**/*
        - sdk/model/**/*
        - sdk/test/**/*
        - tests/block-repo/**/*
        - tests/drivers-ml-blocks-integration/**/*

ignore:
  - "etc/uikit-playground/**/*"
  - "sdk/ui-vue/**/*"
  - "lib/ui/uikit/**/*"

feat: define method createTableByDataQuery
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

chore: changeset
  .changeset/wide-wombats-hope.md
Due: none

[ml] Added WASM API definition
  .changeset/sour-houses-clap.md
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
  lib/model/middle-layer/src/pframe/internal_api/index.ts
Due: Desktop

MILAB-5434: define new pframe method (#1410)
  .changeset/wide-wombats-hope.md
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

replace indefined with empty array in not ready columns
  sdk/model/src/render/api.ts
Due: Desktop

[ml] Added WASM API definition (#1411)
  .changeset/sour-houses-clap.md
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
  lib/model/middle-layer/src/pframe/internal_api/index.ts
Due: Desktop

return getColumns for createPframeForGraphs
  sdk/model/src/components/PFrameForGraphs.ts
  sdk/model/src/pframe_utils/columns.ts
  sdk/model/src/render/api.ts
Due: Desktop

MILAB-5622: do not try to set empty checksum header for part upload
  .changeset/stupid-eggs-sniff.md
  lib/node/pl-drivers/src/clients/upload.ts
Due: Desktop

dontWaitAllData for linkers
  sdk/model/src/pframe_utils/columns.ts
Due: Desktop

add changeset
  .changeset/mean-papayas-take.md
Due: none

MILAB-5622: do not try to set empty checksum header for part upload (#1413)
  .changeset/stupid-eggs-sniff.md
  lib/node/pl-drivers/src/clients/upload.ts
Due: Desktop

feat: createTableByDataQuery
  .changeset/lazy-apples-spend.md
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

Apply suggestion from @gemini-code-assist[bot]
  .changeset/lazy-apples-spend.md
Due: none

Move fast-json-patch to regular dependencies
  .changeset/real-comics-hear.md
  pnpm-lock.yaml
  sdk/model/package.json
  sdk/ui-vue/package.json
Due: Desktop

ref: correct naming
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

feat: correct request for createTableByDataQuery (#1414)
  .changeset/lazy-apples-spend.md
  lib/model/middle-layer/src/pframe/internal_api/api_read.ts
Due: Desktop

Fix not ready columns handling (#1412)
  .changeset/mean-papayas-take.md
  sdk/model/src/components/PFrameForGraphs.ts
  sdk/model/src/pframe_utils/columns.ts
  sdk/model/src/render/api.ts
Due: Desktop

Move fast-json-patch to regular dependencies (#1415)
  .changeset/real-comics-hear.md
  pnpm-lock.yaml
  sdk/model/package.json
  sdk/ui-vue/package.json
Due: Desktop

Rename joinEntry to dataQuery in WASM API
  .changeset/calm-rockets-hunt.md
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
Due: Desktop

Rename joinEntry to dataQuery in WASM API (#1416)
  .changeset/calm-rockets-hunt.md
  lib/model/middle-layer/src/pframe/internal_api/api_wasm.ts
Due: Desktop

feat: pf-driver createTableByDataQuery
  lib/node/pf-driver/src/driver_decl.ts
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_double.ts
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pf-driver/src/ptable_def_pool.ts
  lib/node/pf-driver/src/ptable_pool.ts
  lib/node/pf-driver/src/ptable_shared.ts
  lib/node/pl-middle-layer/src/middle_layer/driver_kit.ts
  lib/node/pl-middle-layer/src/pool/result_pool.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: Desktop

chore: changeset
  .changeset/short-clocks-share.md
Due: none

feat: first lint oxlint
  lib/ui/uikit/package.json
  pnpm-lock.yaml
  tools/ts-builder/package.json
  tools/ts-builder/src/cli.ts
  tools/ts-builder/src/commands/lint.ts
  tools/ts-builder/src/commands/utils/command-runner.ts
  tools/ts-builder/src/commands/utils/executable-resolver.ts
Due: Backend

feat: oxlint domain configs
  tools/ts-builder/src/commands/lint.ts
  tools/ts-builder/src/configs/oxclint-block-ui.json
  tools/ts-builder/src/configs/oxclint-node.json
  tools/ts-builder/src/configs/oxclint-test.json
Due: Backend

fix: update linter/formater
  pnpm-lock.yaml
  tools/block-tools/package.json
  tools/ts-builder/.oxfmt.json
  tools/ts-builder/package.json
  tools/ts-builder/src/commands/format.ts
  tools/ts-builder/src/commands/lint.ts
Due: Backend

ref: remove check
  tools/block-tools/package.json
Due: Backend

add turbo command:
  package.json
  turbo.json
Due: none

ref: update on save for vscode
  .vscode/settings.json
Due: none

feat: new init config in ts-builder
  docs/instructions/migration-to-latest-block-layout-v2.md
  docs/oxlintrc-migration-plan.md
  docs/oxlintrc-packages.md
  tools/ts-builder/src/cli.ts
  tools/ts-builder/src/commands/configs/init-build-config.ts
  tools/ts-builder/src/commands/configs/init-fmt-config.ts
  tools/ts-builder/src/commands/configs/init-lint-config.ts
  tools/ts-builder/src/commands/configs/init-serve-config.ts
  tools/ts-builder/src/commands/configs/init-tsconfig.ts
  tools/ts-builder/src/commands/configs/init.ts
  tools/ts-builder/src/commands/utils/config-manager.ts
  tools/ts-builder/src/configs/oxclint-base.json
  tools/ts-builder/src/configs/oxclint-block-test.json
  tools/ts-builder/src/configs/oxclint-block-ui.json
  tools/ts-builder/src/configs/oxclint-browser.json
  tools/ts-builder/src/configs/oxfmt.json
  tools/ts-builder/src/configs/oxfmtrc.json
Due: Backend

doc: update migration guide
  docs/instructions/migration-to-latest-block-layout-v2.md
  tools/ts-builder/src/cli.ts
  tools/ts-builder/src/commands/configs/init-configs.ts
Due: Backend

chore: changeset
  .changeset/dry-nails-pump.md
Due: none

apply fmt for many extentions
  .vscode/settings.json
  .zed/settings.json
Due: none
