Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

chore: lock file
  pnpm-lock.yaml
Due: none

chore: fmt
  lib/node/pl-client/src/core/transaction.ts
Due: Desktop

fix: after apply stash
  pnpm-lock.yaml
  tools/ts-builder/src/configs/rolldown.block-model.config.mjs
  tools/ts-builder/src/configs/rolldown.node.config.mjs
Due: Backend

latest ts
  .vscode/settings.json
  lib/ui/uikit/src/helpers/downloadContent.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/block-tools/src/util.ts
  tools/block-tools/src/v2/model/content_conversion.ts
Due: Backend

chore: update lock file
  pnpm-lock.yaml
Due: none

fix: upate scripts
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

chore: changeset
  .changeset/fuzzy-streets-stand.md
Due: none

fix dry run script name
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
Due: none

Fix: update scripts (#1433)
  .changeset/fuzzy-streets-stand.md
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

Fix onAuthError firing on network disconnections
  lib/node/pl-client/src/core/ll_client.ts
Due: Desktop

chore: changeset
  .changeset/fix-auth-error-on-disconnect.md
Due: none

Fix ci:test:local failing due to node --run not forwarding args
  package.json
Due: none

Fix onAuthError firing on network disconnections (#1434)
  .changeset/fix-auth-error-on-disconnect.md
  lib/node/pl-client/src/core/ll_client.ts
  package.json
Due: Desktop

feat: use node --run instead pnpm run
  package.json
Due: none

add pl_team command
  package.json
  turbo.json
Due: none

chore: emty changeset
  .changeset/famous-queens-stare.md
Due: none

fix call scripts
  package.json
Due: none

safe naming
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

one more try
  package.json
Due: none

workaround for dry run result
  .github/workflows/build_run_all_tests.yaml
Due: none

one more try
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
Due: none

ugly workaround
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
Due: none

feat: use node --run instead pnpm run (#1435)
  .changeset/famous-queens-stare.md
  .github/workflows/build.yaml
  .github/workflows/build_run_all_tests.yaml
  package.json
  turbo.json
Due: none

use anchor positioning css in tooltips
  etc/blocks/ui-examples/model/src/index.ts
  etc/blocks/ui-examples/ui/src/app.ts
  etc/blocks/ui-examples/ui/src/pages/PlTooltipPage.vue
  lib/ui/uikit/src/assets/base.scss
  lib/ui/uikit/src/components/PlTooltip/Beak.vue
  lib/ui/uikit/src/components/PlTooltip/PlTooltip.vue
  lib/ui/uikit/src/components/PlTooltip/pl-tooltip.scss
  lib/ui/uikit/src/components/PlTooltip/useTooltipPosition.ts
Due: Desktop

fix an ability to show all hidden columns
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
Due: none

fix condition for hidden cols saving
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
Due: none

Validate minimal memory claim in exec template
  .changeset/wide-llamas-write.md
  sdk/workflow-tengo/src/exec/index.lib.tengo
Due: Backend

Fix tests
  tests/workflow-tengo/src/exec/exec.test.ts
Due: Backend

Validate minimal memory claim in exec template (#1437)
  .changeset/wide-llamas-write.md
  sdk/workflow-tengo/src/exec/index.lib.tengo
  tests/workflow-tengo/src/exec/exec.test.ts
Due: Backend

MILAB-5579 Reverse the merge order so user sorting comes after ops.sorting, making user selections win
  .changeset/brave-results-shave.md
  sdk/model/src/components/PlDataTable.ts
Due: Desktop

add changeset
  .changeset/tangy-rooms-jam.md
Due: none

Re-derive currentArgs after storage migration in migrateBlockPack
  lib/node/pl-middle-layer/src/mutator/project.ts
Due: Desktop

vscode settings
  .vscode/settings.json
Due: none

stash 2
  .vscode/settings.json
  lib/model/common/src/drivers/pframe/filter_spec.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
  lib/model/common/src/drivers/pframe/table_calculate.ts
  lib/node/pf-driver/src/driver_decl.ts
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pf-driver/vitest.config.mts
  lib/util/helpers/src/types.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/package.json
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/filters/distill.ts
  sdk/model/src/filters/index.ts
  sdk/model/src/filters/types.ts
  sdk/model/src/render/api.ts
  sdk/model/src/render/internal.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgDataTable/sources/table-state-v2.ts
  sdk/ui-vue/src/components/PlTableFilters/PlTableFiltersV2.vue
Due: Desktop

step 1
  .vscode/settings.json
  etc/blocks/ui-examples/ui/src/pages/PlAdvancedFilterPage.vue
  etc/blocks/ui-examples/ui/src/pages/PlAgDataTableV2Page.vue
  lib/model/common/src/drivers/pframe/filter_spec.ts
  lib/model/common/src/drivers/pframe/index.ts
  plan.md
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/filters/types.ts
  sdk/ui-vue/src/components/PlAdvancedFilter/index.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgDataTable/sources/table-state-v2.ts
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
  sdk/ui-vue/src/components/PlAnnotations/components/FilterSidebar.vue
  sdk/ui-vue/src/components/PlTableFilters/PlTableAddFilterV2.vue
  sdk/ui-vue/src/components/PlTableFilters/PlTableFilterEntryV2.vue
  sdk/ui-vue/src/components/PlTableFilters/PlTableFiltersV2.vue
  sdk/ui-vue/src/components/PlTableFilters/filters-state.ts
  sdk/ui-vue/src/components/PlTableFilters/filters_logic.ts
  sdk/ui-vue/src/components/PlTableFilters/index.ts
  sdk/ui-vue/src/components/PlTableFilters/types.ts
Due: Desktop

chore: changeset
  .changeset/heavy-kiwis-admire.md
Due: none

working prototype
  lib/model/common/src/drivers/pframe/filter_spec.ts
  lib/model/common/src/drivers/pframe/query/query_common.ts
  lib/model/common/src/drivers/pframe/query/query_data.ts
  lib/model/common/src/drivers/pframe/query/query_spec.ts
  lib/model/common/src/drivers/pframe/table_calculate.ts
  lib/node/pf-driver/src/driver_double.test.ts
  lib/node/pf-driver/src/driver_impl.ts
  lib/node/pl-middle-layer/src/js_render/computable_context.ts
  lib/ui/uikit/src/composition/filters/metadata.ts
  pnpm-lock.yaml
  sdk/model/package.json
  sdk/model/src/annotations/converter.ts
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/filters/converters/filterEmpty.test.ts
  sdk/model/src/filters/converters/filterEmpty.ts
  sdk/model/src/filters/converters/filterToQuery.test.ts
  sdk/model/src/filters/converters/filterToQuery.ts
  sdk/model/src/filters/converters/filterUiToExpressionImpl.test.ts
  sdk/model/src/filters/converters/filterUiToExpressionImpl.ts
  sdk/model/src/filters/converters/index.ts
  sdk/model/src/filters/distill.ts
  sdk/model/src/filters/index.ts
  sdk/model/src/pframe_utils/querySpec.ts
  sdk/model/src/render/api.ts
  sdk/ui-vue/src/components/PlAgDataTable/sources/table-state-v2.ts
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
  sdk/ui-vue/src/components/PlTableFilters/PlTableFiltersV2.vue
  tools/build-configs/src/createRollupNodeConfig.ts
  tools/build-configs/src/createViteDevConfig.ts
Due: Backend, Desktop

add required flag
  lib/model/common/src/flags/block_flags.ts
  sdk/model/src/block_model.ts
  sdk/model/src/builder.ts
Due: Desktop

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
