Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

Added subtitle, tags, and section badges examples to model-test block
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/ui/index.html
  etc/blocks/model-test/ui/src/MainPage.vue
Due: Desktop

[sdk/middle-layer] Block model upgrade: subtitle, tags, and section badges (#1340)
  .changeset/eleven-monkeys-grin.md
  etc/blocks/model-test/block/index.d.ts
  etc/blocks/model-test/block/index.js
  etc/blocks/model-test/model/package.json
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/model/tsconfig.json
  etc/blocks/model-test/test/eslint.config.mjs
  etc/blocks/model-test/test/package.json
  etc/blocks/model-test/test/src/wf.test.ts
  etc/blocks/model-test/test/tsconfig.json
  etc/blocks/model-test/test/vitest.config.mts
  etc/blocks/model-test/ui/index.html
  etc/blocks/model-test/ui/src/MainPage.vue
  etc/blocks/model-test/workflow/src/main.tpl.tengo
  lib/model/common/src/bmodel/block_config.ts
  lib/model/common/src/bmodel/normalization.ts
  lib/model/common/src/navigation.ts
  lib/model/middle-layer/src/project_overview.ts
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/model/src/builder.ts
Due: Desktop

Change built-in version to 1.44.1
  .changeset/rich-keys-obey.md
  lib/node/pl-deployments/package.json
Due: Desktop

Change built-in version to 1.44.1 (#1369)
  .changeset/rich-keys-obey.md
  lib/node/pl-deployments/package.json
Due: Desktop

Added block outputs with statuses
  .changeset/eight-news-bow.md
  .changeset/few-mammals-report.md
  .changeset/purple-tires-add.md
  .changeset/spicy-jokes-dress.md
  .changeset/thick-jeans-raise.md
  .changeset/three-months-study.md
  .changeset/yummy-hairs-sneeze.md
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/ui/src/MainPage.vue
  etc/blocks/model-test/workflow/src/main.tpl.tengo
  etc/blocks/ui-examples/ui/src/pages/LogViewPage.vue
  lib/model/common/src/common_types.ts
  lib/node/computable/src/computable/computable.ts
  lib/ui/uikit/src/components/PlLogView/PlLogView.vue
  lib/util/helpers/src/types.ts
  sdk/model/src/bconfig/lambdas.ts
  sdk/model/src/block_state_util.ts
  sdk/model/src/builder.ts
  sdk/model/src/internal.ts
  sdk/model/src/platforma.ts
  sdk/model/src/raw_globals.ts
  sdk/model/src/typing.test.ts
  sdk/ui-vue/src/components/ValueOrErrorsComponent.vue
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/internal/createAppV1.ts
  sdk/ui-vue/src/internal/createAppV2.test.ts
  sdk/ui-vue/src/internal/createAppV2.ts
  sdk/ui-vue/src/internal/v1.static-test.ts
  sdk/ui-vue/src/internal/v2.static-test.ts
  sdk/ui-vue/src/lib.ts
  sdk/ui-vue/src/types.ts
  sdk/ui-vue/src/utils.ts
  tests/drivers-ml-blocks-integration/src/ml.test.ts
Due: Desktop

Added block outputs with statuses (#1370)
  .changeset/eight-news-bow.md
  .changeset/few-mammals-report.md
  .changeset/purple-tires-add.md
  .changeset/spicy-jokes-dress.md
  .changeset/thick-jeans-raise.md
  .changeset/three-months-study.md
  .changeset/yummy-hairs-sneeze.md
  etc/blocks/model-test/model/src/index.ts
  etc/blocks/model-test/ui/src/MainPage.vue
  etc/blocks/model-test/workflow/src/main.tpl.tengo
  etc/blocks/ui-examples/ui/src/pages/LogViewPage.vue
  lib/model/common/src/common_types.ts
  lib/node/computable/src/computable/computable.ts
  lib/ui/uikit/src/components/PlLogView/PlLogView.vue
  lib/util/helpers/src/types.ts
  sdk/model/src/bconfig/lambdas.ts
  sdk/model/src/block_state_util.ts
  sdk/model/src/builder.ts
  sdk/model/src/internal.ts
  sdk/model/src/platforma.ts
  sdk/model/src/raw_globals.ts
  sdk/model/src/typing.test.ts
  sdk/ui-vue/src/components/ValueOrErrorsComponent.vue
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/internal/createAppV1.ts
  sdk/ui-vue/src/internal/createAppV2.test.ts
  sdk/ui-vue/src/internal/createAppV2.ts
  sdk/ui-vue/src/internal/v1.static-test.ts
  sdk/ui-vue/src/internal/v2.static-test.ts
  sdk/ui-vue/src/lib.ts
  sdk/ui-vue/src/types.ts
  sdk/ui-vue/src/utils.ts
  tests/drivers-ml-blocks-integration/src/ml.test.ts
Due: Desktop

PlAgDataTableV2 should use OutputWithStatus
  .changeset/nasty-bugs-tap.md
  .changeset/sixty-apes-relax.md
  .changeset/spotty-taxes-enter.md
  etc/blocks/ui-examples/model/src/index.ts
  etc/blocks/ui-examples/ui/src/pages/PlAgDataTableV2Page.vue
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPage.vue
  lib/ui/uikit/src/layout/PlPlaceholder/PlPlaceholder.vue
  lib/ui/uikit/src/layout/PlPlaceholder/index.ts
  sdk/ui-vue/src/AgGridVue/useAgGridOptions.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgDataTable/PlAgOverlayLoading.vue
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
Due: Desktop

PlAgDataTableV2 should use OutputWithStatus (#1371)
  .changeset/nasty-bugs-tap.md
  .changeset/sixty-apes-relax.md
  .changeset/spotty-taxes-enter.md
  etc/blocks/ui-examples/model/src/index.ts
  etc/blocks/ui-examples/ui/src/pages/PlAgDataTableV2Page.vue
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPage.vue
  lib/ui/uikit/src/layout/PlPlaceholder/PlPlaceholder.vue
  lib/ui/uikit/src/layout/PlPlaceholder/index.ts
  sdk/ui-vue/src/AgGridVue/useAgGridOptions.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgDataTable/PlAgOverlayLoading.vue
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
Due: Desktop

Fix of the staging-related resource leak issue, preventing actual termination of the processes upon pressing "Stop" button on the block
  lib/node/pl-middle-layer/src/mutator/project.ts
Due: Desktop

Fix staging context cleanup to prevent resource leaks and update staging behavior to use input contexts for local results
  .changeset/fix-staging-context-leak.md
Due: none

Fox for staging-related process leak (#1372)
  .changeset/fix-staging-context-leak.md
  lib/node/pl-middle-layer/src/mutator/project.ts
Due: Desktop

fix: disable overrideLabelAnnotation
  sdk/model/src/components/PlDataTable.ts
Due: Desktop

fix: remove flag overriding for getColumns
  sdk/model/src/render/util/column_collection.ts
Due: Desktop

chore: changeset
  .changeset/eight-knives-enjoy.md
Due: none

ref: update commnet
  sdk/model/src/render/util/column_collection.ts
Due: Desktop

MILAB-5084: feat: getRunnerFor
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

MILAB-5084: autogen: changeset
  .changeset/tricky-toes-occur.md
Due: none

fix: update labels after filtering
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/render/util/column_collection.ts
Due: Desktop

ref: simplify code
  sdk/model/src/components/PlDataTable.ts
Due: Desktop

MILAB-5319: override table labels only for valuable columns (#1373)
  .changeset/eight-knives-enjoy.md
  sdk/model/src/components/PlDataTable.ts
Due: Desktop

MILAB-5084: ref: getRunnerType
  sdk/workflow-tengo/src/exec/constants.lib.tengo
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/workdir/index.lib.tengo
Due: Backend

Update sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/limits.lib.tengo
Due: Backend

MILAB-5084: ref: do not export hasGetRunnerFor
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

MILAB-5084: feature getRunnerFor (#1374)
  .changeset/tricky-toes-occur.md
  sdk/workflow-tengo/src/exec/constants.lib.tengo
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
  sdk/workflow-tengo/src/workdir/index.lib.tengo
Due: Backend

PlBlockPage: added editable subtitle
  .changeset/eighty-lands-smile.md
  .changeset/many-parts-pump.md
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPage.vue
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPageTitleTeleportId.ts
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPageTitleTeleportTarget.ts
  lib/ui/uikit/src/layout/PlBlockPage/pl-block-page.scss
  lib/ui/uikit/src/layout/PlBlockPage/usePlBlockPageTitleTeleportTarget.ts
  sdk/ui-vue/src/components/PlAgCsvExporter/PlAgCsvExporter.vue
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgGridColumnManager/PlAgGridColumnManager.vue
Due: none

PlBlockPage: added editable subtitle (#1375)
  .changeset/eighty-lands-smile.md
  .changeset/many-parts-pump.md
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPage.vue
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPageTitleTeleportId.ts
  lib/ui/uikit/src/layout/PlBlockPage/PlBlockPageTitleTeleportTarget.ts
  lib/ui/uikit/src/layout/PlBlockPage/pl-block-page.scss
  lib/ui/uikit/src/layout/PlBlockPage/usePlBlockPageTitleTeleportTarget.ts
  sdk/ui-vue/src/components/PlAgCsvExporter/PlAgCsvExporter.vue
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
  sdk/ui-vue/src/components/PlAgGridColumnManager/PlAgGridColumnManager.vue
Due: none

MILAB-5084: ref: getResourceTypesFor
  sdk/workflow-tengo/src/exec/limits.lib.tengo
  sdk/workflow-tengo/src/exec/runcmd.lib.tengo
  sdk/workflow-tengo/src/feats.lib.tengo
Due: Backend

MILAB-5084: autogen: changeset
  .changeset/brown-wombats-live.md
Due: none

MILAB-5084: fix: missed file
  sdk/workflow-tengo/src/workdir/index.lib.tengo
Due: Backend

fix: correct sorting order
  .changeset/four-hats-invite.md
  sdk/model/src/components/PlDataTable.ts
Due: Desktop

MILAB-5314: correct sorting order (#1377)
  .changeset/four-hats-invite.md
  sdk/model/src/components/PlDataTable.ts
Due: Desktop

MILAB-5374: put entrypoint info of an image to sw.json during build
  tests/package-builder/30.software-pkg/Dockerfile
  tests/package-builder/30.software-pkg/package.json
  tools/package-builder/src/core/core.ts
  tools/package-builder/src/core/docker.ts
  tools/package-builder/src/core/sw-json-render.ts
Due: Backend

MILAB-5374: +changeset
  .changeset/cute-ravens-brake.md
Due: none

feat(model): minimize label derivation type set after greedy selection
  .changeset/label-derivation-minimization.md
  sdk/model/src/render/util/label.test.ts
  sdk/model/src/render/util/label.ts
Due: Desktop

avoid duplicated css
  .changeset/upset-chairs-doubt.md
  tools/build-configs/src/createViteLibConfig.ts
Due: Backend

fix: Skip storage info VM call for legacy blocks without __storage_getInfo callback
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
Due: Desktop

MILAB-5351: avoid duplicated css (#1380)
  .changeset/upset-chairs-doubt.md
  tools/build-configs/src/createViteLibConfig.ts
Due: Backend

MILAB-5374: build images for docker-only packages, add stricter tests
  tests/package-builder/30.software-pkg/Dockerfile
  tests/package-builder/30.software-pkg/package.json
  tests/package-builder/30.software-pkg/verify.mjs
  tools/package-builder/src/core/core.ts
  tools/package-builder/src/core/docker.ts
Due: Backend

fix: remove unsafe-eval in test blocks (not needed anymore)
  etc/blocks/enter-numbers-v3/ui/index.html
  etc/blocks/ui-examples/ui/index.html
Due: Desktop

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
