Repository milaboratory/platforma: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Backend, Desktop

fix: remove unnecessary lines in the state migration
  etc/blocks/enter-numbers-v3/ui/index.html
  etc/blocks/ui-examples/ui/index.html
  lib/node/pl-middle-layer/src/mutator/migration.ts
Due: Desktop

MILAB-5374: put entrypoint info of an image to sw.json during build (#1378)
  .changeset/cute-ravens-brake.md
  tests/package-builder/30.software-pkg/Dockerfile
  tests/package-builder/30.software-pkg/package.json
  tests/package-builder/30.software-pkg/verify.mjs
  tools/package-builder/src/core/core.ts
  tools/package-builder/src/core/docker.ts
  tools/package-builder/src/core/sw-json-render.ts
Due: Backend

cleanup copypaste from the new v3 test blocks
  etc/blocks/enter-numbers-v3/block/CHANGELOG.md
  etc/blocks/enter-numbers-v3/block/package.json
  etc/blocks/enter-numbers-v3/model/CHANGELOG.md
  etc/blocks/enter-numbers-v3/model/package.json
  etc/blocks/enter-numbers-v3/ui/CHANGELOG.md
  etc/blocks/enter-numbers-v3/ui/package.json
  etc/blocks/enter-numbers-v3/workflow/CHANGELOG.md
  etc/blocks/enter-numbers-v3/workflow/package.json
  etc/blocks/sum-numbers-v3/block/package.json
  etc/blocks/sum-numbers-v3/model/package.json
  etc/blocks/sum-numbers-v3/ui/package.json
  etc/blocks/sum-numbers-v3/workflow/package.json
Due: Desktop

refactor: rename builder2.ts to block_model.ts and reorganize types
  sdk/model/src/bconfig/lambdas.ts
  sdk/model/src/block_model.ts
  sdk/model/src/builder.ts
  sdk/model/src/index.ts
  sdk/model/src/platforma.ts
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/plugins/Monetization/useInfo.ts
Due: Desktop

small cleanup in the enter-numbers block
  etc/blocks/enter-numbers-v3/ui/src/MainPage.vue
  etc/blocks/enter-numbers/ui/src/MainPage.vue
Due: Desktop

refactor: extract common RenderCtx functionality into shared base class
  etc/blocks/enter-numbers-v3/model/src/index.ts
  etc/blocks/enter-numbers-v3/workflow/src/numbers.lib.tengo
  etc/blocks/sum-numbers/model/src/index.ts
  sdk/model/src/builder.ts
  sdk/model/src/components/PlDataTable.ts
  sdk/model/src/render/api.ts
Due: Desktop

refactor: remove deprecated TypedConfig output API from BlockModelV3
  sdk/model/src/block_model.ts
Due: Desktop

refactor: simplify BlockModelV3 OutputsCfg to lambda-only type constraint
  sdk/model/src/bconfig/lambdas.ts
  sdk/model/src/block_model.ts
Due: Desktop

Rename V3 block State → Data, add setData() and deprecate setState()
  etc/blocks/enter-numbers-v3/model/src/index.ts
  etc/blocks/pool-explorer/model/src/index.ts
  etc/blocks/sum-numbers-v3/model/src/index.ts
  lib/model/common/src/bmodel/block_config.ts
  lib/model/common/src/bmodel/normalization.ts
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  sdk/model/src/bconfig/v3.ts
  sdk/model/src/block_api_v3.ts
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage_vm.ts
  sdk/model/src/platforma.ts
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  tests/drivers-ml-blocks-integration/package.json
  tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

Refactor BlockModelV3: lambda-only sections, add createAndRegisterRenderLambda helper
  lib/model/common/src/bmodel/block_config.ts
  sdk/model/src/block_model.ts
  sdk/model/src/internal.ts
Due: Desktop

Add modelAPIVersion field, derive inputsValid from args() for BlockModelV3
  .changeset/bumpy-geckos-crash.md
  etc/blocks/enter-numbers-v3/ui/src/MainPage.vue
  etc/blocks/enter-numbers/ui/src/MainPage.vue
  lib/model/common/src/bmodel/block_config.ts
  lib/model/common/src/bmodel/normalization.ts
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  sdk/model/src/block_model.ts
  sdk/model/src/builder.ts
  sdk/test/src/test-block.ts
  tools/block-tools/src/cmd/build-model.ts
Due: Backend, Desktop

Change withData to accept a lambda executed in VM instead of direct value
  etc/blocks/enter-numbers-v3/model/src/index.ts
  etc/blocks/pool-explorer/model/src/index.ts
  etc/blocks/sum-numbers-v3/model/src/index.ts
  lib/model/common/src/bmodel/block_config.ts
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  sdk/model/src/block_model.ts
  tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
Due: Desktop

Reset block data to initialData on migration failure instead of keeping stale state
  etc/blocks/enter-numbers-v3/model/src/index.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  sdk/model/src/block_storage_vm.ts
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

[sdk/ui] PlAgOverlayLoading: change default notReadyText
  .changeset/brown-trains-mate.md
  sdk/ui-vue/src/AgGridVue/useAgGridOptions.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgOverlayLoading.vue
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
Due: none

Label derivation: minimize type set after greedy selection (#1379)
  .changeset/label-derivation-minimization.md
  sdk/model/src/render/util/label.test.ts
  sdk/model/src/render/util/label.ts
Due: Desktop

stash
  etc/blocks/ui-examples/ui/src/pages/PlAgDataTableV2Page.vue
  sdk/ui-vue/src/components/PlAgDataTable/PlAgDataTableV2.vue
Due: Desktop

Add DataModel helper for the block state management
  etc/blocks/enter-numbers-v3/model/src/index.ts
  etc/blocks/pool-explorer/model/src/index.ts
  etc/blocks/sum-numbers-v3/model/src/index.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage_vm.ts
  sdk/model/src/index.ts
Due: Desktop

[sdk/ui] PlAgOverlayLoading: change default notReadyText (#1382)
  .changeset/brown-trains-mate.md
  sdk/ui-vue/src/AgGridVue/useAgGridOptions.ts
  sdk/ui-vue/src/components/PlAgDataTable/PlAgOverlayLoading.vue
  sdk/ui-vue/src/components/PlAgDataTable/types.ts
Due: none

Remove redundant stagingPreRunArgs tracking - staging reset already triggers on preRunArgs change
  lib/node/pl-middle-layer/src/model/project_model.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  tests/drivers-ml-blocks-integration/src/test-helpers.ts
Due: Desktop

[sdk/uikit] PlDropdownMulti: don't show loading spinner when disabled
  .changeset/slick-bananas-write.md
  lib/ui/uikit/src/components/PlDropdownMulti/PlDropdownMulti.vue
Due: none

remove some dead code
  lib/node/pl-middle-layer/src/model/project_helper.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_storage_vm.ts
  sdk/model/src/internal.ts
  tests/drivers-ml-blocks-integration/package.json
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
Due: Desktop

[sdk/uikit] PlDropdownMulti: don't show loading spinner when disabled (#1383)
  .changeset/slick-bananas-write.md
  lib/ui/uikit/src/components/PlDropdownMulti/PlDropdownMulti.vue
Due: none

Add initialStorageJson callback for proper versioned storage initialization
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  lib/node/pl-middle-layer/src/mutator/project-v3.test.ts
  lib/node/pl-middle-layer/src/mutator/project.test.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  sdk/model/src/block_storage_vm.ts
Due: Desktop

feat: derive inputsValid from currentArgs presence for v3 blocks, remove explicit inputsValid field
  lib/node/pl-middle-layer/src/js_render/computable_context.ts
  lib/node/pl-middle-layer/src/middle_layer/block_ctx.ts
  lib/node/pl-middle-layer/src/middle_layer/block_ctx_unsafe.ts
  lib/node/pl-middle-layer/src/middle_layer/project_overview.ts
  lib/node/pl-middle-layer/src/model/project_model.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  sdk/model/src/render/api.ts
Due: Desktop

refactor: introduce typed storage mutation API with operation-based payload for v3 blocks
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  lib/node/pl-middle-layer/src/mutator/project-v3.test.ts
  lib/node/pl-middle-layer/src/mutator/project.test.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  sdk/model/src/block_api_v3.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/block_storage_vm.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
  tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

feat(model): minimize labels in fallback case without reducing cardinality
  .changeset/label-derivation-fallback-minimization.md
  sdk/model/src/render/util/label.test.ts
  sdk/model/src/render/util/label.ts
Due: Desktop

fix: handle undefined result in minimizeTypeSet
  sdk/model/src/render/util/label.ts
Due: Desktop

Label derivation: minimize in fallback case without reducing cardinality (#1385)
  .changeset/label-derivation-fallback-minimization.md
  sdk/model/src/render/util/label.test.ts
  sdk/model/src/render/util/label.ts
Due: Desktop

MILAB-5374: new tests with docker ep/cmd constraints
  etc/blocks/model-test/workflow/package.json
  etc/blocks/model-test/workflow/src/main.tpl.tengo
  etc/blocks/read-logs/workflow/package.json
  etc/blocks/read-logs/workflow/src/main.tpl.tengo
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/workflow-tengo/package.json
  tests/workflow-tengo/src/assets/real-asset-download.tpl.tengo
  tests/workflow-tengo/src/exec/exec.test.ts
  tests/workflow-tengo/src/exec/pkg/pkg-install.tpl.tengo
  tests/workflow-tengo/src/exec/run/docker_constraints.tpl.tengo
  tests/workflow-tengo/src/exec/run/fake_java.tpl.tengo
  tests/workflow-tengo/src/exec/run/hello_go.tpl.tengo
  tests/workflow-tengo/src/exec/run/hello_go_limits.tpl.tengo
  tests/workflow-tengo/src/exec/run/use_asset.tpl.tengo
  tests/workflow-tengo/src/pframes/agg_2_body_pure.tpl.tengo
  tests/workflow-tengo/src/pframes/proc_1_body.tpl.tengo
  tests/workflow-tengo/src/pframes/proc_2_sparse_body.tpl.tengo
Due: Backend, Desktop

MILAB-5374: +changeset
  .changeset/easy-swans-do.md
  tests/workflow-tengo/src/exec/exec.test.ts
Due: Backend

refactor: standardize VM callbacks with __pl_ prefix and rename preRunArgs to prerunArgs
  etc/blocks/enter-numbers-v3/model/src/index.ts
  etc/blocks/enter-numbers-v3/workflow/src/prerun.tpl.tengo
  etc/blocks/sum-numbers-v3/model/src/index.ts
  etc/blocks/sum-numbers-v3/workflow/src/prerun.tpl.tengo
  lib/model/common/src/bmodel/block_config.ts
  lib/model/common/src/bmodel/normalization.ts
  lib/node/pl-middle-layer/src/middle_layer/block_ctx.ts
  lib/node/pl-middle-layer/src/middle_layer/project.ts
  lib/node/pl-middle-layer/src/model/project_helper.ts
  lib/node/pl-middle-layer/src/model/project_model.ts
  lib/node/pl-middle-layer/src/mutator/migration.ts
  lib/node/pl-middle-layer/src/mutator/project-v3.test.ts
  lib/node/pl-middle-layer/src/mutator/project.ts
  lib/node/pl-middle-layer/src/pool/result_pool.ts
  sdk/model/src/bconfig/lambdas.ts
  sdk/model/src/block_migrations.ts
  sdk/model/src/block_model.ts
  sdk/model/src/block_storage_vm.ts
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/internal/createAppV2.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  tests/drivers-ml-blocks-integration/src/unified-state-schema.ts
  tests/drivers-ml-blocks-integration/src/v3.test.ts
Due: Desktop

refactor: move block data derivation from middle layer to UI SDK
  etc/blocks/enter-numbers-v3/ui/src/MainPage.vue
  etc/blocks/enter-numbers-v3/ui/src/app.ts
  etc/blocks/sum-numbers-v3/ui/src/MainPage.vue
  etc/blocks/sum-numbers-v3/ui/src/app.ts
  lib/model/common/src/block_state.ts
  lib/model/middle-layer/src/block_state.ts
  lib/node/pl-middle-layer/src/middle_layer/block.ts
  lib/node/pl-middle-layer/src/middle_layer/block_ctx.ts
  sdk/model/src/block_api_v3.ts
  sdk/model/src/block_storage.ts
  sdk/model/src/platforma.ts
  sdk/ui-vue/src/defineApp.ts
  sdk/ui-vue/src/internal/createAppV3.ts
  tests/drivers-ml-blocks-integration/src/migrations.test.ts
  tests/drivers-ml-blocks-integration/src/ml-legacy.test.ts
  tests/drivers-ml-blocks-integration/src/ml-v3.test.ts
Due: Desktop

small unt test fix
  sdk/model/src/block_storage.test.ts
Due: Desktop

MILAB-5473: automatically retry uploads up to 3 times before giving up
  .changeset/salty-candles-tease.md
  lib/node/pl-deployments/src/ssh/ssh.ts
  lib/node/pl-deployments/src/ssh/ssh_errors.ts
Due: Desktop

MILAB-5473: add upload retries test using mocked ssh client
  lib/node/pl-deployments/src/ssh/__tests__/ssh-upload.test.ts
  lib/node/pl-deployments/src/ssh/ssh_errors.ts
Due: Desktop

MILAB-5473: tests for ssh_errors
  lib/node/pl-deployments/src/ssh/ssh_errors.test.ts
  lib/node/pl-deployments/src/ssh/ssh_errors.ts
Due: Desktop

MILAB-5473: put error chain unwrapper to ts-helpers
  lib/node/pl-deployments/src/ssh/ssh.ts
  lib/node/pl-deployments/src/ssh/ssh_errors.ts
  lib/node/ts-helpers/src/errors.test.ts
  lib/node/ts-helpers/src/errors.ts
  lib/node/ts-helpers/src/index.ts
Due: Desktop

MILAB-5473: automatically retry uploads up to 3 times before giving up (#1386)
  .changeset/salty-candles-tease.md
  lib/node/pl-deployments/src/ssh/__tests__/ssh-upload.test.ts
  lib/node/pl-deployments/src/ssh/ssh.ts
  lib/node/pl-deployments/src/ssh/ssh_errors.test.ts
  lib/node/pl-deployments/src/ssh/ssh_errors.ts
  lib/node/ts-helpers/src/errors.test.ts
  lib/node/ts-helpers/src/errors.ts
  lib/node/ts-helpers/src/index.ts
Due: Desktop

fix: close rawClient after test
  lib/node/pl-client/src/test/test_config.ts
  sdk/test/src/test-pl.ts
Due: Desktop

Path conditions:
  UI: any of: etc/ui-vue-docs/**/*, etc/uikit-playground/**/*, lib/ui/uikit/**/*, sdk/ui-vue/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Backend: any of: helm/**/*, lib/other/**/*, lib/ptabler/**/*, lib/ptexter/**/*, sdk/workflow-tengo/**/*, tests/config-local-ml-integration/**/*, tests/helper/**/*, tests/package-builder/**/*, tests/tengo-builder/**/*, tests/workflow-tengo/**/*, tools/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
  Desktop: any of: etc/blocks/**/*, lib/model/**/*, lib/node/**/*, lib/util/**/*, sdk/eslint-config/**/*, sdk/model/**/*, sdk/test/**/*, tests/block-repo/**/*, tests/drivers-ml-blocks-integration/**/*, but not: etc/uikit-playground/**/*, sdk/ui-vue/**/*, lib/ui/uikit/**/*
